<div class="mld-grid">
  <div class="mdl-cell-row">
    <h2 class="mdl-cell--12" style="text-align: center"> Os Serviços </h2>
    <hr>
  </div>
</div>

<div class="mdl-grid">
    <% @service.each do |service| %>
      <div class="mdl-cell--2-col">
        <div class="mdl-card">
          <div class="mdl-card__title">
            <h4 class="mdl-card__title-text"> <%= service.name %> </h4>
          </div>

          <div class="mdl-card__supporting-text">
            <span> Endereço: <strong> <%= service.address %> </strong> </span> <br>
            <span> Email: <strong> <%= service.email %> </strong> </span> <br>
            <span> Telefone: <strong> <%= service.phone %> </strong> </span> <br>
            <span> Tipo: <strong> <%= service.service_type %> </strong> </span> <br>
          </div>

          <div class="mdl-card__actions">
            <%= button_to 'Mostrar', user_service_path(service.owner_id, service.id), method: 'get' %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<%= link_to 'Home', root_path %>
