<h1>New Service</h1>

<%= form_for :service, url: user_services_path(current_user.id) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :service_type %><br>
    <%= f.text_field :service_type %>
  </p>

  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
