<div class="mld-grid" xmlns="http://www.w3.org/1999/html">
  <div class="mdl-cell-row">
    <h2 class="mdl-cell--12" style="text-align: center"> Novo Serviço </h2>
    <hr>
  </div>
</div>

<div class="no-meio">
  <%= form_for :service, url: user_services_path(current_user.id) do |f| %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :name, pattern: '[A-Za-z0-9 ]*', class: 'mdl-textfield__input' %>
      <strong style="font-size: xx-large"><%= f.label :name, class: 'mdl-textfield__label' %></strong>
      <span class="mdl-textfield__error">Use Letras e números</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :address, class: 'mdl-textfield__input' %>
      <strong><%= f.label :address, class: 'mdl-textfield__label' %></strong>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :phone, class: 'mdl-textfield__input' %>
      <strong><%= f.label :phone, class: 'mdl-textfield__label' %></strong>
    </div>

    <p>
      <%= f.label :service_type %><br>
      <%= f.select :service_type, options_for_select(["Veterinário", "Adestrador", "Pet Shop", "Babá", "Passeador"]) %>
    </p>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_area :about, class: 'mdl-textfield__input' %>
      <strong><%= f.label :about, class: 'mdl-textfield__label' %></strong>
    </div>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>