<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @service.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>About:</strong>
  <%= "Unavailable" if @service.about.nil? %>
  <%=  @service.about if !@service.about.nil? %>
</p>
