<div class="mld-grid">
  <div class="mdl-cell-row">
    <h2 class="mdl-cell--12" style="text-align: center"> Os Abrigos </h2>
    <hr>
  </div>
</div>

<div class="mdl-grid">
    <% @shelter.each do |shelter| %>
      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--4dp" style="width: auto">

          <div class="mdl-card__title">
            <h1 class="mdl-card__title-text" style="text-align: center"><%= shelter.name %></h1>
          </div>

          <div class="mdl-card__supporting-text">
            <span> Pets disponíveis: <strong> <%= shelter.pets_available %> </strong> </span> <br>
            <span> Endereço: <strong> <%= shelter.address %> </strong> </span> <br>
            <span> Email: <strong> <%= shelter.email %> </strong> </span> <br>
            <span> Telefone: <strong> <%= shelter.phone %> </strong> </span> <br>
          </div>

          <div class="mdl-card__actions mdl-card--border" style="text-align: center">
            <%=	button_to 'Mostrar', user_shelter_path(shelter.owner_id, shelter.id), method: 'get',
                           class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="mld-grid">
  <div class="mdl-cell-row" style="text-align: center">
    <span class="material-icons" style="font-size: 60px"><%= link_to 'home', root_path %></span>
    <hr>
  </div>
</div>

