<div class="mld-grid" xmlns="http://www.w3.org/1999/html">
  <div class="mdl-cell-row">
    <h2 class="mdl-cell--12" style="text-align: center"> Novo Abrigo </h2>
    <hr>
  </div>
</div>

<div class="no-meio">
  <%= form_for :shelter, url: user_shelters_path(current_user.id) do |f| %>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :name, pattern: '[A-Za-z0-9 ]*', class: 'mdl-textfield__input' %>
        <strong style="font-size: xx-large"><%= f.label 'Nome', class: 'mdl-textfield__label' %></strong>
        <span class="mdl-textfield__error">Use Letras e números</span>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :address, class: 'mdl-textfield__input' %>
        <strong><%= f.label 'Endereço', class: 'mdl-textfield__label' %></strong>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :phone, class: 'mdl-textfield__input' %>
        <strong><%= f.label 'Telefone', class: 'mdl-textfield__label' %></strong>
      </div>

      <p>
        <%= f.label 'Quantos animais?' %><br>
        <%= f.number_field :pets_available, min: 0 %>
      </p>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_area :about, class: 'mdl-textfield__input' %>
        <strong><%= f.label 'Sobre', class: 'mdl-textfield__label' %></strong>
      </div>

      <p>
        <%= f.submit %>
      </p>
  <% end %>
</div>