<p>

</p>

<table width="280" cellspacing=1" cellpadding="3" border="1" align="center" bgcolor="#44AA00">

<tr>
   <td bgcolor="#ffffcc">
   <font face="arial, verdana, helvetica">
   
<p>
  
<p>

<p>
  <strong>Nome:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Pets Disponíveis:</strong>
  <%= @shelter.pets_available %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @shelter.address %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @shelter.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @shelter.phone %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= "Unavailable" if @shelter.about.nil? %>
  <%=  @shelter.about if !@shelter.about.nil? %>
</p>

   </font>
   </td>
</tr>
</table>

