<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shelter.address %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @shelter.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shelter.description %>
</p>

<p>
  <%= image_tag @shelter.picture, :size => "150x150" %>
</p>
